h1 {
    font-family: 'Montserrat', helvetica, sans-serif;
    font-size: 300%;
}
img {
    width: 50%;
}
p {
    padding-left: 5px;
    margin: 0;
}
.clearer {
    clear:both;
}
.center-this {
    text-align: center;}